html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    min-height: 100%;
    /* border: 1px solid red; */
}

body {
   margin: 0 0 30px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 55px;
    width: auto;
}

.headerLogo {
    display: flex;
    margin-left: 10px;
}

.headerImg:hover{
    filter: drop-shadow(0px 0px 2px black);
}


.title {
    margin-top: 17px;
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerLinks{
    display: flex;
    min-width: 600px;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.headerLinks a:hover{
    filter: drop-shadow(0px 1px 1px grey);
}

.main{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-size: xx-large;
    font-weight: 400;
    color: black;
    width: 1000px;
    text-align: center;
    flex-shrink: 0;
}

.mainImg {
    filter: drop-shadow(0px 20px 5px grey)
}

.mainTextContainer{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    border-radius: 60px;
    padding: 40px;
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 200px;
    filter: drop-shadow(0px 10px 5px black);
    background-color: white;
}

.lastLine{
    margin-top: 30px;
    text-align: center;
}

.mainTextContainer p{
    color: black;
    filter:none;
    font-weight: 400;
}

.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.footer a{
    margin-left: 10px;
    margin-right: 10px;
}

.copyright a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.selected{
    display: flex;
    justify-content: center;
}


/* Wallpapers Styling */

.wallpaperWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.containerTitle{
    margin-left: 30px;
}

.containerRectangle{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 200px;
    width: 1200px;
    background-color: whitesmoke;

    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
    padding-left: 20px;

    border: 2px solid black;
    border-radius: 20px;
   
    filter: drop-shadow(0px 0px 5px black)
    /* padding: 20px; */
}

.containerRectangle2{
    position: relative;
    left: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 200px;
    width: 520px;
    background-color: whitesmoke;

    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
    padding-left: 20px;
    margin-top: -90px;

    border: 2px solid black;
    border-radius: 20px;
    border-top: none;
   
    filter: drop-shadow(0px 0px 5px black)
    /* padding: 20px; */
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
   

    margin-right: 20px;
}

.gallery Img{
    margin-top: 10px;
}

.gallery:hover{
    border: 1px solid white;
    filter: drop-shadow(0px 0px 5px black)
}

figcaption{
    color: black;
    text-decoration: none;
}

/* RPS GUI Styles */
/* * {
    border: 1px solid red;
}

.testMain {
    display: flex;
    justify-content: center;
} */

.rpsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rpsHeader {
    width: auto;
    text-align: center;
}


.rpsTextContainer p {
    color: white;
}

.rpsTextContainer {
    width: 400px;
    height: 100px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.rpsButtonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 400px;
    background-color: aqua;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
}

.button {
    background-color: white;
    height: 300px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid
    filter: drop-shadow(0px 0px 10px black);

}

.button img {
    width: 100px;
    height: auto;
    border-radius: 30px;
}

.button:hover {
    transition-duration: 200ms;
    filter: drop-shadow(0px 0px 20px black);
}

.textDisplay {
    width: 400px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
}